return {
  {
    "folke/tokyonight.nvim",
    lazy = true,
    {{- if hasPrefix "tokyonight" .current_theme }}
    opts = {
      style = "{{ (index .theme .current_theme).nvim.style }}",
    },
    {{- end }}
  },
}
