[user]
    email = hitori.gm@gmail.com
    name = hitori

[push]
    default = simple

[alias]
    p = push origin master
    co = checkout
    cm = commit -m
    dst = diff --stat
    st = status -s
    br = branch
    type = cat-file -t
    dump = cat-file -p
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lga = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    graph = log --graph --oneline --decorate

[color]
    branch = auto
    diff = auto
    status = auto

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = cyan

[diff]
    compactionHeuristic = true

[pager]
    log = /usr/share/git/diff-highlight/diff-highlight | less
    show = /usr/share/git/diff-highlight/diff-highlight | less
    diff = /usr/share/git/diff-highlight/diff-highlight | less

[interactive]
    diffFilter = /usr/share/git/diff-highlight/diff-highlight
