{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $emailOnepassword := promptStringOnce . "emailOnepassword" "Email address for 1password" -}}

[data]
    email = {{ $email | quote }}
    emailOnepassword = {{ $emailOnepassword | quote }}
[diff]
    pager = ""
