{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $fullname := promptStringOnce . "fullname" "Full name" -}}

[data]
    email = "{{ $email }}"
    fullname = "{{ $fullname }}"
[diff]
    pager = ""
