# beets
**/beets/library.db
**/beets/state.pickle

# neovim
**/nvim/.netrwhist
**/nvim/autoload/
**/nvim/plugged/

# sublime-text
**/sublime-text-3/
!**/sublime-text-3/User/Preferences.sublime-settings
!**/sublime-text-3/User/Package\ Control.sublime-settings

# tmux
**/tmux/.tmux/plugins/
**/tmux/.tmux/resurrect/
