# Tab completion when no completion is possible
set show-all-if-unmodified on

# Case insensitive tab completion
set completion-ignore-case on

# History completion
"\e[A": history-search-backward
"\e[B": history-search-forward

# Show man for command by pressing Alt+h
"\eh": "\C-a\eb\ed\C-y\e#man \C-y\C-m\C-p\C-p\C-a\C-d\C-e"

# Fast word movement with Ctrl
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
