[user]
	email = {{ .email }}
	name = {{ .name }}
	signingKey = {{ .signingkey }}

[core]
	commitGraph = false

[commit]
	verbose = true
	gpgSign = true

[pull]
	ff = only

[push]
	default = simple

[alias]
	p = push origin master
	co = checkout
	cob = checkout -b
	ap = add --patch
	c = commit
	cm = commit -m
	ca = commit --amend
	can = commit --amend --no-edit
	cam = commit --amend -m
	d = diff --stat
	ds = diff --staged --stat
	dst = diff --staged
	st = status -sb
	br = branch
	type = cat-file -t
	dump = cat-file -p
	last = log -1 HEAD
	lastf = log --cc -1 HEAD
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	lga = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	graph = log --graph --oneline --decorate

[color]
	branch = auto
	diff = auto
	status = auto

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = cyan

[diff]
	algorithm = patience
