## Activate Powerlevel10k Instant Prompt.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

ZSH_AUTOSUGGEST_MANUAL_REBIND=1

WORDCHARS=''

# When searching for history entries in the line editor, do not display
# duplicates of a line previously found, even if the duplicates are not contiguous.
setopt histfindnodups

export VOLTA_HOME=~/.volta

typeset -U path PATH
path=(
  $VOLTA_HOME/bin
  ~/.cargo/bin
  ~/.local/bin
  ~/.rd/bin
  ~/.node_modules/bin
  $path
)
export PATH

eval "$(/opt/homebrew/bin/brew shellenv)"

# Must be called before Zim is initialized
fpath+=("$HOMEBREW_PREFIX/share/zsh/site-functions")

# granted
fpath+=($HOME/.granted/zsh_autocomplete/assume/)
fpath+=($HOMNE/.granted/zsh_autocomplete/granted/)
export GRANTED_DISABLE_UPDATE_CHECK=true

# ----------------------------------------------------------------------
# Zim
# use degit tool by default to install modules
zstyle ':zim:zmodule' use 'degit'
zstyle ':zim:input' double-dot-expand yes
zstyle ':zim:*' case-sensitivity sensitive

# Completion styling
# zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
# zstyle ':completion:*' menu no
# zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color $realpath'

export ZIM_HOME=~/.zim

# Download zimfw plugin manager if missing.
if [[ ! -e ${ZIM_HOME}/zimfw.zsh ]]; then
  curl -fsSL --create-dirs -o ${ZIM_HOME}/zimfw.zsh \
      https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh
fi

# Install missing modules, and update ${ZIM_HOME}/init.zsh if missing or outdated.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZDOTDIR:-${HOME}}/.zimrc ]]; then
  source ${ZIM_HOME}/zimfw.zsh init -q
fi

# Initialize modules.
source ${ZIM_HOME}/init.zsh
# ----------------------------------------------------------------------

# Disable ambiguous completion
#zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}' '+r:|?=**'
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'


# Bash completion
autoload -Uz bashcompinit && bashcompinit
complete -C aws_completer aws


export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_BAT=1
export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_BUNDLE_FILE=~/.brewfile

export npm_config_prefix=~/.node_modules

export EDITOR=nvim
export VISUAL=nvim
export DIFFPROG='nvim -d'
export SUDO_EDITOR=nvim

export CLICOLOR=YES

export BROWSER=open

# Parevent creation of desktop files and file associations for wine applications
export WINEDLLOVERRIDES=winemenubuilder.exe,mscoree,mshtml=

export GROFF_NO_SGR=yes
export AWS_PAGER=

# sar
export S_COLORS=auto

export LS_COLORS="$(vivid generate {{ (index .theme .theme_name).vivid }})"

# less
export LESS_TERMCAP_mb=$'\E[1;31m'  # Begins blinking.
export LESS_TERMCAP_md=$'\E[1;31m'  # Begins bold.
export LESS_TERMCAP_me=$'\E[0m'     # Ends mode.
export LESS_TERMCAP_ue=$'\E[0m'     # Ends underline.
export LESS_TERMCAP_us=$'\E[1;32m'  # Begins underline.

FZF_THEME_CATPPUCCIN_LATTE='
  --color=bg+:#ccd0da,bg:#eff1f5,spinner:#dc8a78,hl:#d20f39
  --color=fg:#4c4f69,header:#d20f39,info:#8839ef,pointer:#dc8a78
  --color=marker:#dc8a78,fg+:#4c4f69,prompt:#8839ef,hl+:#d20f39'

FZF_THEME_CATPPUCCIN_MACCHIATO='
  --color=bg+:#363a4f,bg:#24273a,spinner:#f4dbd6,hl:#ed8796
  --color=fg:#cad3f5,header:#ed8796,info:#c6a0f6,pointer:#f4dbd6
  --color=marker:#f4dbd6,fg+:#cad3f5,prompt:#c6a0f6,hl+:#ed8796'

FZF_THEME_CATPPUCCIN_MOCHA='
  --color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8
  --color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc
  --color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8'

FZF_THEME_TOKYONIGHT_DAY='
  --highlight-line
  --info=inline-right
  --ansi
  --layout=reverse
  --border=none
  --color=bg+:#b7c1e3
  --color=bg:#d0d5e3
  --color=border:#4094a3
  --color=fg:#3760bf
  --color=gutter:#d0d5e3
  --color=header:#b15c00
  --color=hl+:#188092
  --color=hl:#188092
  --color=info:#8990b3
  --color=marker:#d20065
  --color=pointer:#d20065
  --color=prompt:#188092
  --color=query:#3760bf:regular
  --color=scrollbar:#4094a3
  --color=separator:#b15c00
  --color=spinner:#d20065'

FZF_THEME_TOKYONIGHT_MOON='
  --highlight-line
  --info=inline-right
  --ansi
  --layout=reverse
  --border=none
  --color=bg+:#2d3f76
  --color=bg:#1e2030
  --color=border:#589ed7
  --color=fg:#c8d3f5
  --color=gutter:#1e2030
  --color=header:#ff966c
  --color=hl+:#65bcff
  --color=hl:#65bcff
  --color=info:#545c7e
  --color=marker:#ff007c
  --color=pointer:#ff007c
  --color=prompt:#65bcff
  --color=query:#c8d3f5:regular
  --color=scrollbar:#589ed7
  --color=separator:#ff966c
  --color=spinner:#ff007c'

FZF_THEME_TOKYONIGHT_NIGHT='
  --highlight-line
  --info=inline-right
  --ansi
  --layout=reverse
  --border=none
  --color=bg+:#283457
  --color=bg:#16161e
  --color=border:#27a1b9
  --color=fg:#c0caf5
  --color=gutter:#16161e
  --color=header:#ff9e64
  --color=hl+:#2ac3de
  --color=hl:#2ac3de
  --color=info:#545c7e
  --color=marker:#ff007c
  --color=pointer:#ff007c
  --color=prompt:#2ac3de
  --color=query:#c0caf5:regular
  --color=scrollbar:#27a1b9
  --color=separator:#ff9e64
  --color=spinner:#ff007c'

FZF_THEME_TOKYONIGHT_STORM='
  --highlight-line
  --info=inline-right
  --ansi
  --layout=reverse
  --border=none
  --color=bg+:#2e3c64
  --color=bg:#1f2335
  --color=border:#29a4bd
  --color=fg:#c0caf5
  --color=gutter:#1f2335
  --color=header:#ff9e64
  --color=hl+:#2ac3de
  --color=hl:#2ac3de
  --color=info:#545c7e
  --color=marker:#ff007c
  --color=pointer:#ff007c
  --color=prompt:#2ac3de
  --color=query:#c0caf5:regular
  --color=scrollbar:#29a4bd
  --color=separator:#ff9e64
  --color=spinner:#ff007c'

FZF_THEME_ROSE_PINE_MOON='
  --color=fg:#908caa,bg:#232136,hl:#ea9a97
	--color=fg+:#e0def4,bg+:#393552,hl+:#ea9a97
	--color=border:#44415a,header:#3e8fb0,gutter:#232136
	--color=spinner:#f6c177,info:#9ccfd8,separator:#44415a
	--color=pointer:#c4a7e7,marker:#eb6f92,prompt:#908caa'

export FZF_DEFAULT_OPTS=$FZF_DEFAULT_OPTS$FZF_THEME_{{ (index .theme .theme_name).fzf }}

# TF
export TF_PLUGIN_CACHE_DIR=~/.terraform.d/plugin-cache
export TG_TF_FORWARD_STDOUT=true
export TG_PROVIDER_CACHE=true

export BUILDKIT_PROGRESS=plain

# Loki CLI
eval "$(logcli --completion-script-zsh)"


# Zellij
export ZELLIJ_AUTO_EXIT=true

{{ if eq .chezmoi.os "darwin" -}}
# Android Studio
export ANDROID_HOME=$HOME/Library/Android/sdk
{{- end }}


# k9s
export K9S_CONFIG_DIR=$HOME/.config/k9s

# Specify which neovim configuration folder to use
export NVIM_APPNAME=nvim-lazy

# Use EMACS emulation mode
bindkey -e

KEYTIMEOUT=10

# Up
autoload -Uz up-line-or-beginning-search
zle -N up-line-or-beginning-search
bindkey $terminfo[kcuu1] up-line-or-beginning-search
bindkey '^[[A'           up-line-or-beginning-search

# Down
autoload -Uz down-line-or-beginning-search
zle -N down-line-or-beginning-search
bindkey $terminfo[kcud1] down-line-or-beginning-search
bindkey '^[[B'           down-line-or-beginning-search

# Aliases
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias batp='bat --paging=auto'
alias chmod='chmod -v'
alias chown='chown -v'
alias cp='cp -v'
alias dig='dig +noall +answer +stats'
alias gap='git add --patch'
alias grep='grep --color=auto'
alias jq='jaq'
alias k='kubectl'
alias lg='lazygit'
alias ls='gls --color=auto'
alias ll='ls -lh'
alias lsports='ss -tunalp | column -t'
alias mv='mv -v'
alias rm='rm -v'
alias vim='nvim'
alias assume='. assume'


[[ -f ~/.functions.sh ]] && source ~/.functions.sh

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
