[user]
  email = {{ .email }}
  name = Taras Dyshkant
  signingkey = key::{{ onepasswordRead "op://Personal/Source Signing Key/public key" .emailOnepassword }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
  allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers

[core]
  commitGraph = false

[init]
  defaultBranch = main

[commit]
  verbose = true
  gpgSign = true

[help]
  autocorrect = prompt

[diff]
  algorithm = histogram
  colorMoved = plain
  colorMovedWS = allow-indentation-change
  mnemonicPrefix = true
  renames = true
  wsErrorHighlight = all

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[merge]
  conflictstyle = zdiff3

[pull]
  ff = only
  rebase = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[column]
  ui = auto

[log]
  date = relative

[format]
  pretty = format:%C(bold blue)%h%C(reset) %C(green)%ad%C(reset) %s %C(dim white)%aN%C(reset) %C(yellow)%D%C(reset)

[color]
  branch = auto
  diff = auto
  status = auto

[alias]
  pf = push --force-with-lease
  co = checkout
  cob = checkout -b
  ap = add --patch
  c = commit
  cm = commit -m
  ca = commit --amend
  can = commit --amend --no-edit
  cam = commit --amend -m
  cloneb = clone --filter=blob:none
  clonet = clone --filter=tree:0
  d = diff --stat
  ds = diff --staged --stat
  dst = diff --staged
  st = status -sb
  br = branch
  type = cat-file -t
  dump = cat-file -p
  last = log -1 HEAD
  lastf = log --cc -1 HEAD
  lastfs = log --stat --cc -1 HEAD
  lg = log --graph --decorate
  lgold = log --graph --decorate --abbrev-commit
  lga = log --graph --decorate --abbrev-commit --all
  graph = log --graph --decorate --oneline
  gone = ! git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -d
  gonef = ! git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D

