auto-update-channel = stable

font-size = {{ .font_size }}
font-family = {{ .font_name }}
font-family = Symbols Nerd Font Mono
{{ if hasPrefix "Maple Mono" .font_name -}}
font-feature = cv34
font-feature = cv35
{{- end }}

theme = {{ (index .theme .theme_name).ghostty }}
{{ if eq (index .theme .theme_name).ghostty "catppuccin-mocha" -}}
cursor-text = 1e1e2e
{{- end }}
cursor-style-blink = false
shell-integration-features = no-cursor
mouse-hide-while-typing = true
scrollback-limit = 20000000

{{ if eq .chezmoi.os "darwin" -}}
# macOS specific options
macos-option-as-alt = left
macos-titlebar-style = tabs
background-blur-radius = 20
{{- end }}
