auto-update-channel = tip

font-size = {{ .font_size }}
font-family = {{ .font_name }}
font-family = Symbols Nerd Font
font-feature = -calt
{{ if hasPrefix "Maple Mono" .font_name -}}
font-feature = ss02
{{ else if hasPrefix "JetBrainsMono" .font_name -}}
font-feature = zero
{{- end }}

theme = {{ (index .theme .current_theme).ghostty }}
{{ if eq (index .theme .current_theme).ghostty "catppuccin-mocha" -}}
cursor-text = 1e1e2e
{{- end }}
cursor-style-blink = false
shell-integration-features = no-cursor
mouse-hide-while-typing = true
scrollback-limit = 20000000

{{ if eq .chezmoi.os "darwin" -}}
# macOS specific options
macos-option-as-alt = left
macos-titlebar-style = tabs
background-blur-radius = 20
window-colorspace = display-p3
{{- end }}

# Fix printing `^[[27;5;13~` on Ctrl+enter
keybind = ctrl+enter=text:\r
