auto-update-channel = tip

font-size = {{ .font_size }}
font-family = {{ .font_name }}
{{ if eq .font_name "Maple Mono NF" -}}
font-feature = cv34
font-feature = cv35
{{- end }}

theme = {{ (index .theme .theme_name).ghostty }}
cursor-style-blink = false
shell-integration-features = no-cursor
mouse-hide-while-typing = true

{{ if eq .chezmoi.os "darwin" -}}
# macOS specific options
macos-option-as-alt = left
macos-titlebar-style = tabs
background-blur-radius = 20
{{- end }}
