! Xft settings ---------------------------------------------------------------

Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! XTerm settings -------------------------------------------------------------

XTerm.vt100.faceName: Fira Mono:size=10
XTerm.vt100.faceNameDoublesize: VL Gothic:size=10
XTerm.termName: xterm-256color
XTerm.vt100.geometry: 84x18
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.scrollBar: false
XTerm.vt100.fastScroll: true
XTerm.vt100.internalBorder: 0
XTerm.vt100.bellIsUrgent: true
XTerm.vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! URxvt settings -------------------------------------------------------------

URxvt*geometry: 84x18
URxvt*scrollBar: false
URxvt*saveLines: 8192
URxvt*font: xft:Fira Mono:size=10, \
            xft:Noto Mono:size=10, \
            xft:DejaVu Sans Mono:size=10, \
            xft:Noto Sans Symbols:size=10

URxvt*cursorBlink: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0
URxvt*letterSpace: -1

URxvt*iso14755: False
URxvt*perl-ext-common: default,matcher,clipboard
URxvt*url-launcher: /usr/bin/xdg-open
URxvt*matcher.button: 1
URxvt*keysym.Shift-Control-C: perl:clipboard:copy
URxvt*keysym.Shift-Control-V: perl:clipboard:paste

! Colors ---------------------------------------------------------------------
! Base16 OceanicNext
! Scheme: https://github.com/voronianski/oceanic-next-color-scheme

#define base00 #1b2b34
#define base01 #343d46
#define base02 #4f5b66
#define base03 #65737e
#define base04 #a7adba
#define base05 #c0c5ce
#define base06 #cdd3de
#define base07 #d8dee9
#define base08 #ec5f67
#define base09 #f99157
#define base0A #fac863
#define base0B #99c794
#define base0C #5fb3b3
#define base0D #6699cc
#define base0E #c594c5
#define base0F #ab7967

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05
*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
