! Xft settings ---------------------------------------------------------------

Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb


! URxvt settings -------------------------------------------------------------

URxvt*geometry: 94x28
URxvt*scrollBar: false
URxvt*saveLines: 8192
URxvt*font: xft:Meslo LG S:size=10, \
            xft:DejaVu Sans:size=10, \
            xft:Noto Sans Symbols:size=10

URxvt*cursorBlink: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0

URxvt*iso14755: False
URxvt*perl-ext-common: default,matcher,clipboard
URxvt*url-launcher: /usr/bin/chromium
URxvt*matcher.button: 1
URxvt*keysym.Shift-Control-C: perl:clipboard:copy
URxvt*keysym.Shift-Control-V: perl:clipboard:paste

