"*":
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    fontFamily: "Fira Mono"
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "autocomplete-plus": {}
  "find-and-replace": {}
  "fuzzy-finder": {}
  "markdown-preview": {}
  "spell-check": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  minimap: {}
  linter:
    errorPanelHeight: 64
  "one-dark-ui": {}
  "atom-beautify":
    analytics: false
".basic.html.text":
  editor:
    tabLength: 2
".jade.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
".js.source":
  editor:
    tabLength: 2
".css.source":
  editor:
    tabLength: 2
