"*":
  "atom-beautify":
    general:
      analytics: false
    xml:
      end_with_newline: true
      indent_size: 2
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "Tycho-Dark-Syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    showIndentGuide: true
  "exception-reporting":
    userId: "240d68ae-29a4-4cea-8c5a-e24c6a2ae8f1"
  "git-plus":
    general:
      analytics: false
  "go-plus":
    panelDisplayMode: "closed"
  linter: {}
  "linter-write-good":
    nodePath: "/usr/bin/node"
  welcome:
    showOnStartup: false
".ansible.source":
  editor:
    autoIndentOnPaste: false
