# $schema: https://mise.jdx.dev/schema/mise.json

[settings]
cache_prune_age = "24h"
{{- if contains "catppuccin" .current_theme }}
color_theme = "catppuccin"
{{- else }}
color_theme = "auto"
{{- end }}

[settings.python]
uv_venv_auto = "create|source"
uv_venv_create_args = ["--seed"]

[settings.pypi]
uvx = true

[tools]
usage = "latest"
chezmoi = "latest"
"packslip:github.com/jdx/fnox" = "latest"
go = "latest"
rust = "latest"
uv = "latest"
python = "latest"
node = "latest"
pnpm = "latest"
aube = "latest"
lua = "latest"
"github:unhappychoice/gitlogue" = "latest"
kubectl = "latest"
krew = "latest"
terraform = "latest"
terragrunt = "latest"
tf-summarize = "latest"
packer = "latest"
aws-cli = { version = "latest", symlink_bins = true }
"aqua:aws/session-manager-plugin" = "latest"
"pipx:mludvig/aws-ssm-tools" = "v2.2.1"
"npm:aws-cdk" = "latest"
"gitlab:gitlab-org/cli" = "latest"
"gitlab:dev-exp/other/tui-cli" = { version = "latest", api_url = "https://source.tui/api/v4" }
java = "prefix:corretto"
android-cli = "latest"
apm = "latest"
"npm:@marp-team/marp-cli" = "latest"
glow = "latest"

lsd = "latest"
vivid = "latest"
jj = "latest"
delta = "latest"
fzf = "latest"
fd = "latest"
bat = "latest"
fastfetch = "latest"
tokei = "latest"
zellij = "latest"
tmux = "latest"
jq = "latest"
jaq = "latest"
yq = "latest"
jless = "latest"
jd = "latest"
hyperfine = "latest"
zoxide = "latest"
yazi = "latest"
just = "latest"
miniserve = "latest"
dua = "latest"
ripgrep = "latest"
lazygit = "latest"
gdu = "latest"
bottom = "latest"
ast-grep = "latest"
neovim = "latest"
tree-sitter = "latest"
shellcheck = "latest"
shfmt = "latest"
k9s = "latest"
helm = "latest"
kubectx = "latest"
pre-commit = "latest"
e1s = "latest"
age = "latest"
k3d = "latest"
yamllint = "latest"
terraform-docs = "latest"
tflint = "latest"
tfmigrate = "latest"
hcl2json = "latest"
bfs = "latest"
"aqua:tealdeer-rs/tealdeer" = "latest"
"aqua:lindell/multi-gitter" = "latest"
"github:square/certigo" = "latest"
"github:github/git-sizer" = "latest"
"github:atanunq/viu" = "latest"
"github:DataDog/pup" = "latest"
"pipx:git-filter-repo" = "latest"
