// -----------------------------------------------------------------------------
// ${_style_name}
// Upstream: ${_upstream_url}
// URL: ${_url}
// -----------------------------------------------------------------------------

themes {
    kanagawa-paper-ink {
        text_unselected {
            base 220 215 186
            background 0
            emphasis_0 196 116 110
            emphasis_1 162 146 163
            emphasis_2 101 133 148
            emphasis_3 157 118 101
        }
        text_selected {
            base 220 215 186
            background 42 42 55
            emphasis_0 196 116 110
            emphasis_1 162 146 163
            emphasis_2 101 133 148
            emphasis_3 157 118 101
        }
        ribbon_selected {
            base 31 31 40
            background 196 178 138
            emphasis_0 196 116 110
            emphasis_1 162 146 163
            emphasis_2 101 133 148
            emphasis_3 157 118 101
        }
        ribbon_unselected {
            base 31 31 40
            background 147 138 169
            emphasis_0 196 116 110
            emphasis_1 162 146 163
            emphasis_2 101 133 148
            emphasis_3 157 118 101
        }
        table_title {
            base 220 215 186
            background 0
            emphasis_0 196 116 110
            emphasis_1 162 146 163
            emphasis_2 101 133 148
            emphasis_3 157 118 101
        }
        table_cell_selected {
            base 220 215 186
            background 42 42 55
            emphasis_0 196 116 110
            emphasis_1 162 146 163
            emphasis_2 101 133 148
            emphasis_3 157 118 101
        }
        table_cell_unselected {
            base 220 215 186
            background 0
            emphasis_0 196 116 110
            emphasis_1 162 146 163
            emphasis_2 101 133 148
            emphasis_3 157 118 101
        }
        list_selected {
            base 220 215 186
            background 42 42 55
            emphasis_0 196 116 110
            emphasis_1 162 146 163
            emphasis_2 101 133 148
            emphasis_3 157 118 101
        }
        list_unselected {
            base 220 215 186
            background 0
            emphasis_0 196 116 110
            emphasis_1 162 146 163
            emphasis_2 101 133 148
            emphasis_3 157 118 101
        }
        frame_selected {
            base 147 138 169
            background 0
            emphasis_0 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        frame_highlight {
            base 196 116 110
            background 0
            emphasis_0 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        exit_code_success {
            base 105 148 105
            background 0
            emphasis_0 42 51 49
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        exit_code_error {
            base 196 116 110
            background 0
            emphasis_0 63 44 49
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 196 116 110
            player_2 162 146 163
            player_3 101 133 148
            player_4 157 118 101
            player_5 105 148 105
            player_6 115 124 115
            player_7 148 159 181
            player_8 101 133 148
            player_9 182 146 123
            player_10 106 149 137
        }
    }
}

