# ~/.config/zsh/path.zsh - PATH for all shells, sourced by ~/.zshenv and ~/.zprofile
#
# mise shims give non-interactive shells the mise tools. Interactive shells run
# `mise activate` later, which puts the real tool dirs in front of the shims.

# Prefix where `mise bootstrap` installs brew: packages
{{ if eq .chezmoi.os "darwin" -}}
export HOMEBREW_PREFIX=/opt/homebrew
{{- else -}}
export HOMEBREW_PREFIX=/home/linuxbrew/.linuxbrew
{{- end }}

export ZSH_PATH_INIT=1

typeset -U path PATH
() {
  local -a dirs=(
    "${MISE_DATA_DIR:-$HOME/.local/share/mise}/shims"
    ~/.krew/bin
    ~/.cargo/bin
    ~/.local/bin
    ~/.node_modules/bin
    ~/.rd/bin
    "$HOMEBREW_PREFIX/bin"
    "$HOMEBREW_PREFIX/sbin"
  )
  path=(${^dirs}(N-/) $path)
}
export PATH
