set completion-ignore-case on
set match-hidden-files off
set menu-complete-display-prefix on
set show-all-if-ambiguous on
set skip-completed-text on
set enable-bracketed-paste on

# History completion with arrow keys
"\e[A": history-search-backward
"\e[B": history-search-forward

# Show man for command by pressing Alt+h
"\eh": "\C-a\eb\ed\C-y\e#man \C-y\C-m\C-p\C-p\C-a\C-d\C-e"
