/* Allow members of the wheel group to execute the defined actions
 * without password authentication, similar to "sudo NOPASSWD:"
 */

polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.udisks2.filesystem-mount" ||
         action.id == "org.freedesktop.udisks2.filesystem-mount-system" ||
         action.id == "org.libvirt.unix.manage") &&
         subject.local && subject.active && subject.isInGroup("wheel"))
    {
        return polkit.Result.YES;
    }
});
